.show-table {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
}

:host ::ng-deep .action-menu-table .p-datatable-wrapper,
:host ::ng-deep .action-menu-table .p-datatable-table,
:host ::ng-deep .action-menu-table .p-datatable-tbody > tr,
:host ::ng-deep .action-menu-table .p-datatable-tbody > tr > td {
    overflow: visible !important;
}

:host ::ng-deep .action-menu-table .p-datatable-tbody > tr > td:last-child {
    position: relative;
}
