<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <form [formGroup]="formSetting">
                <div class="grid">
                    <div class="col-12 md:col-6 pb-0">
                        <div class="field">
                            <label for="product_type">ประเภทสินค้า</label>
                            <p-dropdown [options]="filter_product_types" optionLabel="name" [filter]="true"
                                filterBy="name" [showClear]="true" placeholder="เลือกประเภทสินค้า"
                                formControlName="product_type" (onChange)="selectProductTypeFilter()">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label htmlFor="location">แบรนด์สินค้า</label>
                            <p-dropdown [options]="filter_product_brands" optionLabel="name" [filter]="true"
                                filterBy="name" [showClear]="true" placeholder="เลือกแบรนด์สินค้า"
                                formControlName="product_brand" (onChange)="selectProductBrandFilter()">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5>รายการสินค้า</h5>
            <p-table #dt [value]="data" [lazy]="true" (onLazyLoad)="loadTable($event)" dataKey="id" [paginator]="true"
                [loading]="loading" [rows]="10" [totalRecords]="totalRecords"
                styleClass="p-datatable-gridlines action-menu-table" [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="p-inputgroup" style="width: fit-content;">
                            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                            <input pInputText type="text" [formControl]="search" placeholder="ค้นหา" />
                            <button *ngIf="search.value" pButton type="button" icon="pi pi-times"
                                class="p-button-danger" (click)="search.reset()"></button>
                            <button pButton type="button" icon="pi pi-camera" class="p-button-secondary"
                                pTooltip="สแกน Barcode" (click)="openScanner('search')"></button>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 80px;">
                            <div class="flex justify-content-center align-items-center">
                                ลำดับ
                            </div>
                        </th>
                        <th style="width: 100px;">
                            <div class="flex justify-content-center align-items-center">
                                รูปภาพ
                            </div>
                        </th>
                        <th style="width: auto;">
                            <div class="flex justify-content-start align-items-center">
                                ประเภท/แบรนด์
                            </div>
                        </th>
                        <th style="width: auto;">
                            <div class="flex justify-content-start align-items-center">
                                ชื่อสินค้า
                            </div>
                        </th>
                        <th style="width: 80px;">
                            <div class="flex justify-content-center align-items-center">
                                ราคา
                            </div>
                        </th>
                        <th style="width: 100px;">
                            <div class="flex justify-content-center align-items-center">
                                คงเหลือ/จัดเก็บ
                            </div>
                        </th>
                        <th style="width: 70px;" *ngIf="permissions.manag_stock">
                            <div class="flex justify-content-center align-items-center">
                                จัดการ
                            </div>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center">
                            {{ rowIndex + 1 }}
                        </td>
                        <td class="text-center">
                            <img class="icon-img" [src]="item.image">
                        </td>
                        <td class="text-left">
                            {{ item.product_type_name }}/ {{ item.product_brand_name }}
                        </td>
                        <td class="text-left">
                            {{ item.name }}
                        </td>
                        <td class="text-center">
                            {{ item.price | number }}.-
                        </td>
                        <td class="text-center">
                            {{ item.count | number }}/ {{ item.max | number }}
                        </td>
                        <td class="text-center" *ngIf="permissions.manag_stock">
                            <div class="dropdown">
                                <button pButton type="button" class="p-button-secondary p-button-text"><span></span>
                                    <i class="pi pi-bars"></i>
                                </button>
                                <div class="dropdown-content" tabindex="0" style="cursor: pointer;">
                                    <button type="button" class="dropdown-action" (click)="openEdit(item.id)"
                                        *ngIf="permissions?.manag_stock"><i
                                            class="pi pi-database pr-2"></i>คลัง</button>
                                    <button type="button" class="dropdown-action" (click)="openEditProduct(item)"
                                        *ngIf="permissions?.manag_product"><i
                                            class="pi pi-file-edit pr-2"></i>แก้ไข</button>
                                    <button type="button" class="dropdown-action" (click)="openSupplierPrice(item)"><i
                                            class="pi pi-tag pr-2"></i>ราคาต้นทุน</button>
                                    <button type="button" class="dropdown-action" (click)="openLog(item)"><i
                                            class="pi pi-history pr-2"></i>ประวัติ stock</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptyMessage" let-columns>
                    <tr>
                        <td [attr.colspan]="9" class="text-center">ไม่มีข้อมูล</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog header="แก้ไขคลัง" [(visible)]="displayEdit" modal="modal" showEffect="fade" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <form [formGroup]="formEdit">
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-6 pb-0">
                    <div class="field">
                        <label htmlFor="name">จำนวนคงเหลือ</label>
                        <input pInputText type="number" formControlName="count" min="0" max="99999" />
                    </div>
                </div>
                <div class="col-6 pb-0">
                    <div class="field">
                        <label htmlFor="name">จำนวนจัดเก็บ</label>
                        <input pInputText type="number" formControlName="max" min="0" max="99999" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="confirmEdit()" label="ยืนยัน"
            class="p-button-success mr-2 outline"></button>
        <button pButton icon="pi pi-times" (click)="cancelEdit()" label="ยกเลิก"
            class="p-button-danger mr-2 outline"></button>
    </ng-template>
</p-dialog>

<p-dialog header="แก้ไขสินค้า" [(visible)]="displayEditProduct" modal="modal" showEffect="fade"
    [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <form [formGroup]="formEditProduct">
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 py-0 pb-5" style="text-align: center;">
                    <img class="img" [src]="formEditProduct?.get('image')?.value" width="100" height="100">
                </div>
                <div class="col-12 py-0">
                    <div class="field">
                        <label>รหัสสินค้า</label>
                        <input pInputText type="text" formControlName="code" maxlength="50" />
                    </div>
                </div>
                <div class="col-12 py-0">
                    <div class="field">
                        <label>ชื่อสินค้า</label>
                        <input pInputText type="text" formControlName="name" maxlength="200" />
                    </div>
                </div>
                <div class="col-12 py-0">
                    <div class="field">
                        <label>รายละเอียดสินค้า</label>
                        <textarea pInputTextarea formControlName="description" maxlength="1000" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-12 pb-0">
                    <div class="field">
                        <label>ประเภทสินค้า</label>
                        <p-dropdown [options]="product_types" optionLabel="name" optionValue="id" [filter]="true"
                            filterBy="name" placeholder="เลือกประเภทสินค้า" formControlName="product_type_id"
                            (onChange)="selectProductType(formEditProduct.get('product_type_id').value)"
                            appendTo="body">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12 pb-0">
                    <div class="field">
                        <label>แบรนด์สินค้า</label>
                        <p-dropdown [options]="product_brands" optionLabel="name" optionValue="id" [filter]="true"
                            filterBy="name" placeholder="เลือกแบรนด์สินค้า" formControlName="product_brand_id"
                            appendTo="body">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12 pb-0">
                    <div class="field">
                        <label>ราคา</label>
                        <input pInputText type="number" formControlName="price" min="0" max="99999" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="confirmEditProduct()" label="ยืนยัน"
            class="p-button-success mr-2 outline"></button>
        <button pButton icon="pi pi-times" (click)="cancelEditProduct()" label="ยกเลิก"
            class="p-button-danger mr-2 outline"></button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'ราคาต้นทุน - ' + supplierPriceProductName" [(visible)]="displaySupplierPrice" modal="modal"
    showEffect="fade" [style]="{width: '45vw'}" [breakpoints]="{'960px': '75vw'}">
    <div class="card p-fluid">
        <div class="grid mb-3 align-items-end">
            <div class="col-5">
                <label>ผู้ขาย</label>
                <p-dropdown [options]="suppliers" optionLabel="name" optionValue="id"
                    [(ngModel)]="newSupplierItem.supplier_id" placeholder="เลือกผู้ขาย" appendTo="body"
                    [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
            <div class="col-4">
                <label>ราคาต้นทุน (บาท)</label>
                <input pInputText type="number" [(ngModel)]="newSupplierItem.cost" min="0" style="text-align: right;" />
            </div>
            <div class="col-3">
                <button pButton icon="pi pi-plus" label="เพิ่ม" class="p-button-primary outline" style="width:100%;"
                    [disabled]="!newSupplierItem.supplier_id" (click)="addSupplierPrice()"></button>
            </div>
        </div>
        <p-table [value]="supplierPriceRows" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>ผู้ขาย</th>
                    <th style="width: 160px; text-align: right;">ราคาต้นทุนล่าสุด (บาท)</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{row.supplier_name}}</td>
                    <td style="text-align: right;">{{row.cost | number:'1.2-2'}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptyMessage">
                <tr>
                    <td colspan="2" class="text-center">ยังไม่มีรายการ</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-times" (click)="displaySupplierPrice = false" label="ปิด"
            class="p-button-secondary mr-2 outline"></button>
    </ng-template>
</p-dialog>

<p-dialog header="สแกน Barcode" [(visible)]="displayScanner" [modal]="true" showEffect="fade"
    [style]="{width: '95vw', maxWidth: '480px'}" [breakpoints]="{'960px': '95vw'}"
    (onShow)="startScanner()" (onHide)="stopScanner()">
    <div style="text-align: center; padding: 0.5rem 0;">
        <video #scannerVideo style="width: 100%; border-radius: 8px; background: #000;" autoplay playsinline></video>
        <p style="margin-top: 0.75rem; color: #666; font-size: 0.875rem;">{{ scannerStatus }}</p>
    </div>
    <ng-template pTemplate="footer">
        <button pButton type="button" icon="pi pi-times" (click)="closeScanner()" label="ยกเลิก"
            class="p-button-danger"></button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'ประวัติ stock - ' + logProductName" [(visible)]="displayLog" modal="modal"
    showEffect="fade" [style]="{width: '70vw'}" [breakpoints]="{'960px': '95vw'}">
    <p-table [value]="logData" [loading]="logLoading" responsiveLayout="scroll"
        styleClass="p-datatable-gridlines p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 160px;">วันที่</th>
                <th style="width: 150px;">การกระทำ</th>
                <th style="width: 100px; text-align: right;">ก่อน</th>
                <th style="width: 120px; text-align: center;">เปลี่ยนแปลง</th>
                <th style="width: 100px; text-align: right;">หลัง</th>
                <th>ผู้ดำเนินการ</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.created_date }}</td>
                <td>{{ getActionLabel(row.action) }}</td>
                <td style="text-align: right;">{{ row.qty_before | number }}</td>
                <td style="text-align: center;"
                    [ngStyle]="{'color': row.qty_change > 0 ? '#22c55e' : row.qty_change < 0 ? '#ef4444' : '#6b7280', 'font-weight': '600'}">
                    {{ row.qty_change > 0 ? '+' : '' }}{{ row.qty_change | number }}
                </td>
                <td style="text-align: right;">{{ row.qty_after | number }}</td>
                <td>{{ row.created_by }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptyMessage">
            <tr>
                <td colspan="6" class="text-center">ไม่มีประวัติ</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-times" (click)="displayLog = false" label="ปิด"
            class="p-button-secondary outline"></button>
    </ng-template>
</p-dialog>

<p-toast position="top-right"></p-toast>
