<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <form [formGroup]="formSetting">
                <div class="grid">
                    <div class="col-12 md:col-6 pb-0">
                        <div class="field">
                            <label for="product_type">ประเภทสินค้า</label>
                            <p-dropdown [options]="filter_product_types" optionLabel="name" [filter]="true"
                                filterBy="name" [showClear]="true" placeholder="เลือกประเภทสินค้า"
                                formControlName="product_type" (onChange)="selectProductTypeFilter()">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label htmlFor="location">แบรนด์สินค้า</label>
                            <p-dropdown [options]="filter_product_brands" optionLabel="name" [filter]="true"
                                filterBy="name" [showClear]="true" placeholder="เลือกแบรนด์สินค้า"
                                formControlName="product_brand" (onChange)="selectProductBrandFilter()">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5>รายการสินค้า</h5>
            <p-table #dt [value]="data" [lazy]="true" (onLazyLoad)="loadTable($event)" dataKey="id" [paginator]="true"
                [loading]="loading" [rows]="10" [totalRecords]="totalRecords" styleClass="p-datatable-gridlines action-menu-table"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="p-inputgroup" style="width: fit-content;">
                            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                            <input pInputText type="text" [formControl]="search" placeholder="ค้นหา" />
                            <button *ngIf="search.value" pButton type="button" icon="pi pi-times" class="p-button-danger" (click)="search.reset()"></button>
                            <button pButton type="button" icon="pi pi-camera" class="p-button-secondary" pTooltip="สแกน Barcode" (click)="openScanner()"></button>
                        </div>
                    </div>
                </ng-template>

                <p-dialog header="สแกน Barcode" [(visible)]="displayScanner" [modal]="true" [style]="{width: '400px'}" (onHide)="stopScanner()">
                    <div class="flex flex-column align-items-center gap-3">
                        <video #scannerVideo autoplay playsinline style="width: 100%; border-radius: 8px;"></video>
                        <span *ngIf="scannerError" class="text-red-500 text-sm">{{ scannerError }}</span>
                    </div>
                </p-dialog>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 80px;">
                            <div class="flex justify-content-center align-items-center">
                                ลำดับ
                            </div>
                        </th>
                        <th style="width: 100px;">
                            <div class="flex justify-content-center align-items-center">
                                รูปภาพ
                            </div>
                        </th>
                        <th style="width: auto;">
                            <div class="flex justify-content-start align-items-center">
                                ประเภท/แบรนด์
                            </div>
                        </th>
                        <th style="width: auto;">
                            <div class="flex justify-content-start align-items-center">
                                ชื่อสินค้า
                            </div>
                        </th>
                         <th style="width: 80px;">
                            <div class="flex justify-content-center align-items-center">
                                ราคา
                            </div>
                        </th>
                        <th style="width: 100px;">
                            <div class="flex justify-content-center align-items-center">
                                คงเหลือ/จัดเก็บ
                            </div>
                        </th>
                        <th style="width: 70px;" *ngIf="permissions.manag_stock">
                            <div class="flex justify-content-center align-items-center">
                                จัดการ
                            </div>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center">
                            {{ rowIndex + 1 }}
                        </td>
                        <td class="text-center">
                            <img class="icon-img" [src]="item.image">
                        </td>
                         <td class="text-left">
                            {{ item.product_type_name }}/ {{ item.product_brand_name }}
                        </td>
                        <td class="text-left">
                            {{ item.name }}
                        </td>
                         <td class="text-center">
                            {{ item.price | number }}.-
                        </td>
                        <td class="text-center">
                            {{ item.count | number }}/ {{ item.max | number }}
                        </td>
                        <td class="text-center" *ngIf="permissions.manag_stock">
                            <div class="dropdown">
                                <button pButton type="button" class="p-button-secondary p-button-text"><span></span>
                                    <i class="pi pi-bars"></i>
                                </button>
                                <div class="dropdown-content" tabindex="0" style="cursor: pointer;">
                                    <button type="button" class="dropdown-action" (click)="openEdit(item.id)" *ngIf="permissions?.manag_stock"><i
                                            class="pi pi-file-edit pr-2"></i>แก้ไข</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptyMessage" let-columns>
                    <tr>
                        <td [attr.colspan]="9" class="text-center">ไม่มีข้อมูล</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<p-dialog header="แก้ไขคลัง" [(visible)]="displayEdit" modal="modal" showEffect="fade" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <form [formGroup]="formEdit">
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-6 pb-0">
                    <div class="field">
                        <label htmlFor="name">จำนวนคงเหลือ</label>
                        <input pInputText type="number" formControlName="count" min="0" max="99999" />
                    </div>
                </div>
                <div class="col-6 pb-0">
                    <div class="field">
                        <label htmlFor="name">จำนวนจัดเก็บ</label>
                        <input pInputText type="number" formControlName="max" min="0" max="99999" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="confirmEdit()" label="ยืนยัน"
            class="p-button-success mr-2 outline"></button>
        <button pButton icon="pi pi-times" (click)="cancelEdit()" label="ยกเลิก"
            class="p-button-danger mr-2 outline"></button>
    </ng-template>
</p-dialog>

<p-toast position="top-right"></p-toast>
